.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  font-family: var(--title-font);
}

.hero > .container > h1 {
  font-size: 5rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  line-height: 100%;
}

.hero {
  background-image: url("../assets/inspection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

section.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.links a {
  flex: 0 0 auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
MEDIA QUERIES
* * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */

  .hero {
    background-position: -300px 40px;
  }

  .hero > .container > h1 {
    font-size: 3rem;
    line-height: 80%;
  }
}
