<nav class="nav" [ngClass]="{ active: scrollY.value >= 50 }">
  <div class="container">
    <h1 class="logo"><a href="/index.html">The Last Press</a></h1>
    <ul>
      <li><a href="#" class="current">Home</a></li>
      <li><a href="#">The</a></li>
      <li><a href="#">Last</a></li>
      <li><a href="#">Press</a></li>
    </ul>
  </div>
</nav>
<div class="hero">
  <div class="container">
    <h1>The Last Press</h1>
    <p>Chad Oness is moving the Last Press for the last time.</p>
  </div>
</div>
<section class="container content">
  <h2>Content One</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga esse
    autem obcaecati. Molestiae unde totam iusto at aliquam! Error voluptate
    deserunt iure aut minus facilis animi at amet, reprehenderit reiciendis quo
    quaerat quisquam iste porro. Sapiente sit labore soluta unde repellat et
    dolorem facere sint corporis tempore iste tempora accusantium, earum velit
    quaerat omnis eius eum impedit dolores laboriosam! Consequuntur eos
    voluptatum minus illum suscipit, voluptatem saepe blanditiis obcaecati
    accusantium laudantium nam nobis dolorem deleniti libero error facilis sed
    quibusdam inventore accusamus esse in ducimus architecto voluptate odio.
    Reiciendis praesentium distinctio veniam. Voluptatibus ratione rem maxime
    mollitia! Ratione, assumenda.
  </p>
  <h3>Content Two</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui non sint quos
    voluptates eius! Hic saepe illo voluptatem quam quaerat! Vitae voluptatum
    aliquid, dolore nulla accusamus ipsa distinctio fugiat commodi mollitia
    assumenda rerum nesciunt rem odio culpa delectus quis natus. Aperiam natus
    adipisci officia maxime cum praesentium, fuga explicabo quisquam veritatis
    soluta autem dolores ipsa, tempore eos perspiciatis molestias impedit dicta
    sunt numquam deserunt quae, consequatur quod officiis! Hic asperiores
    nesciunt commodi, pariatur praesentium debitis iusto perspiciatis optio ad.
  </p>
</section>
